<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.applicationHost">
      <section name="sites" overrideModeDefault="Deny" />
      <section name="applicationDependencies" overrideModeDefault="Deny" />
    </sectionGroup>
  </configSections>
  
  <system.applicationHost>
    <sites>
      <site name="MyPortfolio" id="1" serverAutoStart="true">
        <application path="/">
          <virtualDirectory path="/" physicalPath="%IIS_SITES_HOME%\MyPortfolio" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:44351:localhost" />
          <binding protocol="https" bindingInformation="*:44352:localhost" />
        </bindings>
      </site>
    </sites>
    
    <applicationDependencies>
      <application name="MyPortfolio" groupId="MyPortfolio" />
    </applicationDependencies>
  </system.applicationHost>
</configuration>